<% @follower_id.each do |info|%>
<br><br>
  <%result = User.find_by(:id => info[:follow_id])%>
  <%=link_to result[:name], :controller => 'after_log_in_prosess', :action => 'find_user_detail', :id => result[:id] %><br><br>
  <%= image_tag(after_log_in_prosess_show_img_path(:id=>result.id), :size => "100x100") %><br>
  <h3>自己紹介:</h3><%=result.introduction%><br><br>
<%end%>
