<div id="main-area">
	<div class="container">
		<h1 class="logo"><%= link_to image_tag('logo.png',{:border => '0'}), after_log_in_prosess_menu_path %><br></h1>
		
		<div class="tab-content current">
			<div class="box-item box-watch">
				<div class="box-watch-top">
					<% @follow_user_id.each do |info|%>
					<%result = User.find_by(:id => info[:follow_id])%>
					<p class="box-watch-img"><%= image_tag(after_log_in_prosess_show_img_path(:id=>result.id), :size => "100x100") %><br></p>
					<p>
						<strong>名前:</strong>
						  <%=link_to result[:name], :controller => 'after_log_in_prosess', :action => 'find_user_detail', :id => result[:id] %><br><br>
					</p>
					<p class="intro">
						<strong>自己紹介:</strong>
						<%=result.introduction%>
					</p>

					<p><strong>お気に入り:</strong></p>

					<p><a href="#">#〇〇</a>, <a href="#">#〇〇</a></p>
					<%end%>
				</div><!-- /.box-watch-top -->
			</div><!--/.box-item-->
		</div><!-- /.tab-content -->
	</div><!-- /.container -->
</div><!-- /.main-area -->
<div class="footer">
	&copy;2017 by Shout.
</div>

