<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  	
  	<p><%=@user.name %>さん </p><br>
  	
    <div>
    <p><%=@resp_user.name%>さんから返信がありました。</p><br><br>
    <h3><%= link_to "#{@article.title}", :controller => "after_log_in_prosess", :action => "article_detail", :id => @article.id %>にて返信。</h3>
    <p><%= @resp %></p><br><br><br>
    
    <p>こちらのアドレスは送信専用なので、返信していいただいてもお答えすることができません。</p>
  </body>
</html>
