<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3><%=@user_name%>さんから返信がありました。</h3>
    <div>
      こちらのアドレスは送信専用なので、返信していいただいてもお答えすることができません。
    <div>
  </body>
</html>
