// Place all the styles related to the after_log_in_prosess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shout_button {
    text-align:center;
    padding:10px;
    color:#fff;
    background:#03A9F4;
    width:200px;
}

.shout_list_button {
    text-align:center;
    padding:10px;
    color:#fff;
    background:#03A9F4;
    width:200px;
}

.new_article_button{
    text-align:center;
    padding:10px;
    color:#fff;
    background:#03A9F4;
    width:200px;
}
